@model IEnumerable<Plantr_v2.Models.Answer>

<div class="form_container">
    <h2 class="page_title_text" style="text-align: center;">Lesson Four Answers</h2>
    @foreach (var item in Model)
    {
        <div>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">1. @Html.DisplayFor(modelItem => item.AnswerOne)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">2. @Html.DisplayFor(modelItem => item.AnswerTwo)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">3. @Html.DisplayFor(modelItem => item.AnswerThree)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">4. @Html.DisplayFor(modelItem => item.AnswerFour)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">5. @Html.DisplayFor(modelItem => item.AnswerFive)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">6. @Html.DisplayFor(modelItem => item.AnswerSix)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">7. @Html.DisplayFor(modelItem => item.AnswerSeven)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">8. @Html.DisplayFor(modelItem => item.AnswerEight)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">9. @Html.DisplayFor(modelItem => item.AnswerNine)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">10. @Html.DisplayFor(modelItem => item.AnswerTen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">11. @Html.DisplayFor(modelItem => item.AnswerEleven)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">12. @Html.DisplayFor(modelItem => item.AnswerTwelve)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">13. @Html.DisplayFor(modelItem => item.AnswerThirteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">14. @Html.DisplayFor(modelItem => item.AnswerFourteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">15. @Html.DisplayFor(modelItem => item.AnswerFifteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">16. @Html.DisplayFor(modelItem => item.AnswerSixteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">17. @Html.DisplayFor(modelItem => item.AnswerSeventeen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">18. @Html.DisplayFor(modelItem => item.AnswerEighteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">19. @Html.DisplayFor(modelItem => item.AnswerNineteen)</p>
            <p style="font-family: Noto Sans, sans-serif; font-size: 16pt; text-align:center; line-height: 1.2em;">20. @Html.DisplayFor(modelItem => item.AnswerTwenty)</p>
        </div>
    }
</div>