@model Plantr_v2.Models.Answer

<div class="container">
    @using (Html.BeginForm("SubmitAnswerTwoCreate", "Answer"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Answer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AnswerOne, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerOne", "True", false, new { id = "AnswerOne" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerOne", "False", false, new { id = "AnswerOne" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerTwo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerTwo", "True", false, new { id = "AnswerTwo" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerTwo", "False", false, new { id = "AnswerTwo" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerThree, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerThree", "True", false, new { id = "AnswerThree" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerThree", "False", false, new { id = "AnswerThree" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerFour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerFour", "True", false, new { id = "AnswerFour" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerFour", "False", false, new { id = "AnswerFour" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerFive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerFive", "True", false, new { id = "AnswerFive" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerFive", "False", false, new { id = "AnswerFive" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerSix, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="btn btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        @Html.RadioButton("AnswerSix", "True", false, new { id = "AnswerSix" }) True
                    </label>
                    <label class="btn btn-danger">
                        @Html.RadioButton("AnswerSix", "False", false, new { id = "AnswerSix" }) False
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerSeven, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                        @Html.EditorFor(model => model.AnswerSeven, new { htmlAttributes = new { @class ="form-control"} })
                        @Html.ValidationMessageFor(model => model.AnswerSeven, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerEight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerEight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerEight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerNine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerNine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerNine, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerTen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerTen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerEleven, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerEleven, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerEleven, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerTwelve, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerTwelve, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerTwelve, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerThirteen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerThirteen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerThirteen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerFourteen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerFourteen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerFourteen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerFifteen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerFifteen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerFifteen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnswerSixteen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnswerSixteen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerSixteen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Soul", "Details", "Soul")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}