@model Tuple<Plantr_v2.Models.Soul, Plantr_v2.Models.Answer>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">@Model.Item1.FirstName @Model.Item1.LastName</h1>
                            @if (Model.Item1.AptNumber == null)
                            {
                                <h4 class="panel-info">@Model.Item1.Address | @Model.Item1.City | @Model.Item1.Zip | @Model.Item1.Phone</h4>
                            }
                            else
                            {
                                <h4 class="panel-info">@Model.Item1.Address | @Model.Item1.AptNumber | @Model.Item1.City | @Model.Item1.Zip | @Model.Item1.Phone</h4>
                            }
                        </div>
                        <div class="panel-body">@Model.Item1.Comments</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <hr />

    <div class="row active-with-click">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Bible Correspondence Course</span>
                    <strong>
                        <i class="fa fa-fw fa-book"></i>
                        Lesson One
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="~/img/Course1.png">
                    </div>
                    <div class="mc-description">
                        Lesson One Description
                    </div>
                </div>
                <a class="btn mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    @Html.ActionLink("Submit Answers", "SubmitAnswerOneCreate", "Answer", new { @class = "btn btn-primary btn-lg center-block" })
                </div>
            </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>How's Your Hearing<br /></span>
                    <strong>
                        <i class="fa fa-fw fa-book"></i>
                        Lesson Two
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="~/img/Course2.png">
                    </div>
                    <div class="mc-description">
                        Lesson Two Description
                    </div>
                </div>
                <a class="btn mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <button type="button" class="btn btn-primary btn-lg center-block">View Answers</button>
                </div>
            </article>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
