@model Tuple<Plantr_v2.Models.Soul, Plantr_v2.Models.Answer>

<div class="wrapper">
    <div class="contact-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">@Model.Item1.FirstName @Model.Item1.LastName</h2>
            <button class="mdl-button mdl-button--fab mdl-button--colored" onclick="location.href='@Url.Action("Edit", "Soul", new { id = Model.Item1.Id })'">
                <i class="material-icons">edit</i>
            </button>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon" onclick="location.href='@Url.Action("Index", "Soul")'">
                <i class="material-icons">arrow_back</i>
            </button>
            <button class="mdl-button mdl-button--icon modal__trigger" data-modal="#modal">
                <i class="material-icons">delete</i>
            </button>
            <!-- Modal -->
	        <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <h3 class="delete_modal">Are you sure you want to delete this?</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <button class="mdl-button mdl-js-button mdl-button--primary">
                                    Yes
                                </button>
                                <!-- Accent-colored flat button -->
                                <button class="mdl-button mdl-js-button mdl-button--accent">
                                    No
                                </button>
                            </div>
                        }
                        <!-- modal close button -->
                        <a href="" class="modal__close demo-close">
                            <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" /><path d="M0 0h24v24h-24z" fill="none" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list">
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">phone</i>
                        @Model.Item1.Phone
                        <span class="mdl-list__item-sub-title">Mobile</span>
                    </span>
                </li>
                <div class="mdl-menu__item--full-bleed-divider"></div>
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">place</i>
                        @Model.Item1.Address <br /> @Model.Item1.City, @Model.Item1.Zip
                    </span>
                </li>
                <div class="mdl-menu__item--full-bleed-divider"></div>
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">message</i>
                        @Model.Item1.Comments
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr />

<div class="row active-with-click">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>Bible Correspondence Course</span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson One
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course1.png">
                </div>
                <div class="mc-description">
                    Lesson One Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerOneIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerOneCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>How's Your Hearing<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Two
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course2.png">
                </div>
                <div class="mc-description">
                    Lesson Two Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerTwoIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerTwoCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>Three Indispensables of Faith<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Three
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course3.png">
                </div>
                <div class="mc-description">
                    Lesson Three Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerThreeIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerThreeCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>The Most Difficult Command<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Four
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course4.png">
                </div>
                <div class="mc-description">
                    Lesson Four Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerFourIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerFourCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>True Confessions<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Five
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course5.png">
                </div>
                <div class="mc-description">
                    Lesson Five Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerFiveIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerFiveCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>They That Gladly Received His Word Were Baptized<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Six
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course6.png">
                </div>
                <div class="mc-description">
                    Lesson Six Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerSixIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerSixCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>Be Thou Faithful Unto Death<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Seven
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course7.png">
                </div>
                <div class="mc-description">
                    Lesson Seven Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerSevenIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerSevenCreate", "Answer")'" />
            </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <article class="material-card Red">
            <h2>
                <span>What God Wnats To Do To Every Sinner<br /></span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Lesson Eight
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="~/img/Course8.png">
                </div>
                <div class="mc-description">
                    Lesson Eight Description
                </div>
            </div>
            <a class="btn mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <input type="button" class="btn btn-primary" value="View Answers" onclick="location.href='@Url.Action("ViewAnswerEightIndex", "Answer")'" />
                <input type="button" class="btn btn-primary" value="Submit Answers" onclick="location.href='@Url.Action("SubmitAnswerEightCreate", "Answer")'" />
            </div>
        </article>
    </div>
</div>
